@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.topper {
  width: 100%;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-button-and-bar {
  padding-top: 10px;
  display: inline-block;
  width: 100%;
}

.card-bottom {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-content {
  padding-top: 10px;
}

.directory-paginator {
  padding-left: 30px;
  padding-right: 30px;
}

.api-directory {
  width: 95%;
  margin: auto;
  margin-top: 0.5%;
}

.search-bar-form {
  width: 500px;
}

::ng-deep .input-wrapper{
  height:50px !important;
}

::ng-deep .attribute-wrapper {
  float: left;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  width: 120px !important;
}

::ng-deep .button-text-wrapper {
  width: 120px !important;
}
