.mat-card {
  margin-top: 10px;
  margin-bottom: 10px;
}
.example-form-field {
  padding-top: 5px;
  width: 300px;
}

::ng-deep .input-wrapper{
  height:50px !important;
}

::ng-deep .attribute-wrapper {
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  width: 120px !important;
}

::ng-deep .button-text-wrapper {
  width: 120px !important;
}
